workspacetest_springboot/.metadata/
workspacetest_springboot/spring-boot-perfomance/hello-springboot-java/.classpath
workspacetest_springboot/RemoteSystemsTempFiles/
workspacetest_springboot/spring-boot-perfomance/hello-springboot-java/.gitignore
workspacetest_springboot/spring-boot-perfomance/hello-springboot-java/.project
workspacetest_springboot/spring-boot-perfomance/hello-springboot-java/.settings/
workspacetest_springboot/spring-boot-perfomance/webservice-wo-spring/.classpath
workspacetest_springboot/spring-boot-perfomance/webservice-wo-spring/.gitignore
workspacetest_springboot/spring-boot-perfomance/webservice-wo-spring/.project
workspacetest_springboot/spring-boot-perfomance/webservice-wo-spring/.settings/
